:root{
    --darkCyan: hsl(185, 75%, 39%);
    --veryDarkDesaturatedBlue: hsl(229, 23%, 23%);
    --DarkGrayishBlue: hsl(227, 10%, 46%);
    --darkGray: hsl(0, 0%, 59%);
    --fontSize: 18px;
}
body{
    font-family: "Kumbh Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--darkCyan);
    background-image: url("./images/bg-pattern-top.svg"), url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 40vw bottom 40vh, left 41vw top 39vh;
}
.container{
    width: 85%;
    margin: 130px auto;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
}
.background{
    height: 150px;
    background-image: url('./images/bg-pattern-card.svg')
}
.data{
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.data > span{
    margin-bottom: 28px;
    color: var(--darkGray);
}
.image-profile{
    border-radius: 50%;
    height: 100px;
    overflow: hidden;
    border: 5px solid rgb(238, 236, 236);
    margin-bottom: 24px;
    position: absolute;
    top: -50px;
}
.image-profile img{
    height: 100%;
}
.data__details{
    margin-top: 70px;
    margin-bottom: 16px;
}
.data__details span:nth-child(1){
    font-weight: 700;
    font-size: var(--fontSize);
}
.data__details span:nth-child(2){
    font-weight: 400;
    color: var(--darkGray);
    font-size: var(--fontSize);
}
footer{
    display: flex;
    align-content: center;
    justify-content: space-around;
    height: 80px;
    border-top: 0.5px solid var(--darkGray);
}
footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.subtitle{
    font-weight: 700;
    font-size: var(--fontSize);
}
.letters{
    font-weight: 700;
    color: var(--darkGray);
}